{{#each data}}
<li>
    <div>
        <h2>{{voornaam}}</h2>
        <p>{{leeftijd}} jaar</p>
    </div>
    <img src="images/{{keuken}}evlag.jpg">
    <div>
        <p>Dieet: {{dieet}}</p>
        <p>Voorkeur: {{voorkeur}}</p>
    </div>
    <button>🤢</button>
    <button>😋</button>
</li>
{{/each}}